

/* Cartões de Convênios, referência: https://youtu.be/nZIkHzIRrkg?si=jgWBZxxFK1XWyO1n */


header{
    background-position: center;  
    background-size: cover; 
    background-attachment: fixed; 
    height: 600px;
}

.imagem-centralizada {
    display: block; /* Isso faz com que a imagem seja exibida como um bloco para usar margin:auto */
    margin: 0 auto; /* Isso centraliza a imagem horizontalmente */
    max-width: 100%; /* Isso garante que a imagem não exceda a largura do seu contêiner pai */
  }

  .titulo-centralizado {
    text-align: center; /* Alinha o texto à direita da imagem */
    margin-top: 0; /* Remove a margem superior padrão do título */
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 27px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a{
    color: rgb(73, 151, 91);
    margin: 0 30px;
    text-transform: 14px;
    display:block;
}

.Beneficios h3 {
    text-align: center;
}

.Beneficios p {
    margin-bottom: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.Beneficios .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 100px;
    text-align: center;
    width: 350px;
}

.Beneficios .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.Beneficios .card-item .nome-convenio{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
/* Fim Cartões de Convênios  */