

/* Cartões de Convênios, referência: https://youtu.be/nZIkHzIRrkg?si=jgWBZxxFK1XWyO1n */

/*header{
    background-position: center;   caso use imagem
    background-size: cover; 
    background-attachment: space-around; 
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul a{
    color: rgb(13, 34, 173);
    margin: 0 25px;
    text-transform: 14px;
    display:block;
}

.Beneficios h3 {
    text-align: center;
}

.Beneficios p {
    margin-bottom: 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.Beneficios .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 100px;
    text-align: center;
    width: 350px;
}

.Beneficios .card-item img{
    border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}

.Beneficios .card-item .nome-convenio{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
/* Fim Cartões de Convênios  */